{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block content %}

<h1>Welcome to dhamaka sale</h1>

{% endblock content %}

{% block body %}

<!-- Hero Section -->
{% comment %} <section id="hero" class="hero section dark-background">
      
  <img src="static/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">
  
  <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2>Welcome to shopping</h2>
        <p>We are team of talented designers making websites with Bootstrap</p>
        <a href="#about" class="btn-get-started">Get Started</a>
      </div>
    </div>
  </div>
  
</section><!-- /Hero Section --> {% endcomment %}

{% endblock body %}