{% extends "base.html" %}
{% block title %} signup {% endblock title %}
{% block content %}
<div class="d-flex justify-content-center mt-5">

    {% comment %} {% for message in messages  %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    {% endfor %} {% endcomment %}

    <form action="auth/signup/" method="POST" class="border p-4 rounded shadow-sm"
        style="width: 100%; max-width: 400px;">
        <h3 class="mb-5 mt-3">Signup</h3>
        {% csrf_token %}

        <div class="form-group mb-3">
            <label for="email" class="form-label">Email:</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>

        <div class="form-group mb-3">
            <label for="password" class="form-label">Password:</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Enter your password"
                required>
        </div>

        <div class="form-group mb-4">
            <label for="confirm-password" class="form-label">Confirm Password:</label>
            <input class="form-control" type="password" id="confirm-password" name="confirm-password"
                placeholder="Re-enter your password" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Sign Up</button>

        <div class="mt-3 text-center">
            Already a user? <a href="/auth/login" class="text-decoration-none">Login</a>
        </div>
    </form>
</div>


{% endblock content %}